header {
    background-color: #01480f;
    color: #fff;
    padding: 10px 0;

    ul {
    list-style: none;
    display: flex;
    justify-content: center;
    }
    li {
    margin: 0 20px;
    }
    a {
    text-decoration: none;
    color: #fff;
    }
} 



body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: rgba(4, 119, 176, 0.711);
}
img {
max-width: 50%;
}
footer {
text-align: center;
padding: 10px;
background-color: #01480f;
color: #fff;
}
